// Theme
$primaryColor: #64706C;
$textColor: #000000;
$textColorLight: #565758;

// General
$fontSize: 14px;
$submenuFontSize: 13px;
$bodyBackgroundColor: #e9eaec;
$transitionTime: 0.3s;
$borderRadius: 3px;
$overlayColor: #424242;

// Header
$headerBackgroundColor: $primaryColor;
$headerFontColor: #ffffff;
$headerHoverColor: #89b19e;

// Footer
$footerBackgroundColor: $primaryColor;
$footerFontColor: #ffffff;

// SideMenu
$sideMenuItemSelectedColor: #ffffff;
$sideMenuItemSelectedBackground:#89b19e;
$sideMenuItemHoverColor: #232428;
$sideMenuItemHoverBackground: #89b19e;
$sideMenuItemColor: #232428;

// Sidebar
$sidebarWidth: 250px;
$sidebarBackgroundTop:#f3f4f9;
$sidebarBackgroundBottom:#d7dbe8;